## Ignore all

*



## Don't ignore the following
!*/
!.gitignore

!README.md

!Assets/Editor/*.cs

!Assets/Editor/*.cs.meta
!Assets/Scripts/*.cs

!Assets/Scripts/*.cs.meta
!Assets/Resources/*.cs

!Assets/Resources/*.cs.meta
!ProjectSettings/*.asset