## Ignore all

*



## Don't ignore the following
!*/
!.gitignore

!README.md
!ProjectSettings/*.asset

## For the love of god only commit files you have made
## Do not commit plugins or external code - external code should be managed by the svn
!*.cs
!*.cs.meta
!Assets/Editor/*.json
!Assets/Editor/*.json.meta

## Explicitly ignore specific folders and files below

## Plugins folder
Assets/Plugins
Assets/Plugins/*

## Scaleform folder
Assets/Scaleform
Assets/Scaleform/*

## Editor folder 3rd party scripts
Assets/Editor/GoDummyPathEditor.cs
Assets/Editor/GoDummyPathEditor.cs.meta
